@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    background-color: #f4f4f4;
}

/* Utilities */

.bg-gray {
    background-color: #262626;
    color: #f4f4f4;
}

/* Showcase */

#showcase {
    background: #333 url(../resources/images/pexels-jatin-anand-125779.jpg) no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    position: relative;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}

/* Adventures Section */

#adventures .col {
    width: 50%;
    margin: 0;
}

#adventures .col img {
    width: 100%;
}

#adventures .text-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#adventures .text-content h2 {
    font-size: 40px;
}

/* Gallery Section */

#gallery .container .row .col-md-3 {
    height: 400px;
}

#gallery .container .row .col-md-3 img {
    height: 300px;
    cursor: pointer;
}

#gallery .container .row .col-sm-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gallery .container .row .col-sm-12 img {
    width: 60%;
}

/* About Section */

#about {
    font-family: 'Explora', cursive;
    height: 500px;
    background-color: #262626;
    color: #f4f4f4;
}

#about #heading {
    font-size: 3.6rem;
}

@media (max-width: 500px) {
    #adventures .text-content h2 {
        font-size: 32px;
    }

    #showcase {
        background-position: 25% 75%;
    }

    #about {
        height: 100vh;
    }

    #about #heading {
        font-size: 2.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 600px;
    }
}

@media (max-width: 900px) {
    #about {
        height: 600px;
    }

    #about #heading {
        font-size: 3.2rem;
    }
}